@import 'cadmin-variables';

$product-menu-pages-administration-link-height: 72px;

html#{$cadmin-selector} {
	.cadmin {
		&.copy-page-modal {
			.modal-content {
				min-height: 344px;
			}
		}

		.pages-tree {
			margin-bottom: calc(
				#{$product-menu-pages-administration-link-height} + #{$cadmin-spacer}
			);

			.treeview-dropping-middle {
				background-color: unquote('hsl(from #{$white} h s l / 0.06)');
			}

			.icon-tooltip {
				z-index: 2;
			}

			.icon-warning {
				margin: 1px 4px 0 8px;
				z-index: 2;
			}
		}
	}
}
