@import 'atlas-variables';
@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.layout__color-picker {
			border: 1px solid $cadmin-secondary-l3;
			display: flex;

			&:focus-within,
			&:hover {
				border-color: $cadmin-secondary-l0;

				.clay-color
					> .input-group-item
					> .input-group-inset-item.input-group-inset-item-before {
					border-color: $cadmin-secondary-l0;
					transition-duration: 0s;
				}
			}

			&.custom {
				background-color: $cadmin-light;

				.clay-color-picker {
					width: 100%;
				}

				.clay-color {
					> .input-group-item {
						> .input-group-text,
						> .form-control.input-group-inset.input-group-inset-before {
							border: 0;
						}

						> .input-group-inset-item.input-group-inset-item-before {
							border-bottom: 0;
							border-right: 0;
							border-top: 0;
						}
					}
				}

				.layout__color-picker__action-button {
					background-color: transparent;

					&:focus,
					&:hover {
						background-color: unquote(
							'hsl(from #{$cadmin-dark} h s l / 0.06)'
						);
					}
				}

				&.has-error {
					background-color: $cadmin-danger-l2;
					border-color: $cadmin-danger-l1;

					.clay-color
						> .input-group-item
						> .input-group-inset-item.input-group-inset-item-before {
						border-color: $cadmin-danger-l1;
					}
				}
			}

			&.hovered {
				border-color: $cadmin-secondary-l0;
			}

			.layout__color-picker__action-button {
				height: 28px;
				margin: 2px;
				padding: 4px;
				width: 28px;
			}

			&:not(:hover):not(:focus-within):not(.hovered):not(.custom) {
				.layout__color-picker__action-button {
					opacity: 0;
				}
			}

			&__color-palette .sheet-subtitle {
				border-bottom: 0;
				border-top: 1px solid $cadmin-secondary-l3;
			}

			&__search-form
				+ .layout__color-picker__color-palette
				.sheet-subtitle {
				border-top: 0;
			}

			&__token-button {
				&.btn {
					height: 32px;
					padding-left: 6px;
					padding-right: 9px;
				}

				&:hover {
					background-color: transparent;
				}

				.inherited {
					background-color: $cadmin-blue;
					border-radius: 50%;
					flex-shrink: 0;
					height: 6px;
					margin-left: 8px;
					width: 6px;
				}

				&-splotch {
					border: 1px solid $cadmin-gray-300;
					height: 21px;
					margin-right: 18px;
					min-width: 21px;
				}
			}
		}

		&.layout__color-picker__dropdown .clay-color-dropdown-menu {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
