@import 'atlas-custom-properties/_variables';

.lfr-objects__allow-standalone-entries {
	align-items: center;
	display: flex;
}

.lfr-objects__allow-standalone-entries-tooltip-icon {
	color: $secondary-l1;
	margin-left: 12px;
}

.lfr-objects__comments-enable-comments {
	display: flex;
}

.lfr-objects__comments-tooltip-icon {
	color: $secondary-l1;
}
