@import 'atlas-custom-properties/_variables';

.lfr-objects__model-builder-right-sidebar-object-definition-node {
	&-details {
		align-items: center;
		border-bottom: 1px solid $gray-200;
		display: flex;
		height: 4rem;
		justify-content: space-between;
		padding: 1rem;

		&-title {
			color: $gray-900;
			font-size: 14px;
			font-weight: 600;
			height: 3.3rem;
			line-height: 21px;
			padding: 1rem;
			width: 75%;

			&-buttons-container {
				align-items: center;
				display: flex;
				gap: 10px;
				justify-content: center;
				width: 25%;
			}

			&-save-button {
				align-items: center;
				display: flex;
				height: 32px;
				justify-content: center;
				width: 57px;
			}
		}
	}

	&-content {
		border-bottom: 1px solid $gray-200;
		padding: 1rem 1rem 0;
	}
}

.lfr-objects__model-builder-right-sidebar-object-definition-entry-display-container
	.dropdown-menu {
	max-width: 17rem;
	width: 17rem;
}
