<footer class="liferay-one-footer pb-5 pt-5">
	<div class="container-fluid-max-xl footer-content">
		<div class="align-start c-my-0 d-flex justify-content-between max-nav">
			<div class="c-px-0 d-flex flex-column flex-sm-row flex-wrap footer-navigation justify-content-lg-between justify-content-sm-end">
				<div class="c-mb-10 c-mb-lg-0 c-mb-md-10 c-px-0 col-lg-2 col-md-4 contact-container">
					<div class="align-items-center brand-name d-flex font-weight-semi-bold">
						<img alt="One Liferay Logo" class="brand-logo" data-lfr-editable-id="image-editable-product-liferay" data-lfr-editable-type="image" src="[resources:logo_liferay.svg]" />

						<span>One Liferay</span>
					</div>

					<p class="c-pt-5 mb-0">1400 Montefino Avenue</p>
					<p class="mb-0">Diamond Bar, CA 91765</p>
					<p class="mb-0">USA</p>
					<p>+1-877-LIFERAY</p>
				</div>

				[@liferay_site_navigation["navigation-menu"]
					ddmTemplateGroupId=(scopeGroupId)
					ddmTemplateKey=(configuration.footerNavigationDDMTemplateKey)
					displayDepth=0
					expandedLevels="auto"
					preview=false
					rootItemLevel=0
					rootLayoutType="absolute"
					siteNavigationMenuId=0
				/]

				<section class="c-px-0 footer-social">
					<ul class="d-flex list-unstyled social-icons text-decoration-none">
						<li>
							<a href="https://www.facebook.com/liferay/" target="_blank">
								<img alt="Facebook Logo" data-lfr-editable-id="image-editable-product-facebook" data-lfr-editable-type="image" src="[resources:facebook.svg]" />
							</a>
						</li>
						<li>
							<a href="https://github.com/liferay" target="_blank">
								<img alt="Github Logo" data-lfr-editable-id="image-editable-product-github" data-lfr-editable-type="image" src="[resources:github.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/liferayinc/" target="_blank">
								<img alt="Instagram Logo" data-lfr-editable-id="image-editable-product-instagram" data-lfr-editable-type="image" src="[resources:instagram.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/liferay-inc-" target="_blank">
								<img alt="LinkedIn Logo" data-lfr-editable-id="image-editable-product-linkedin" data-lfr-editable-type="image" src="[resources:linkedin.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.twitter.com/liferay" target="_blank">
								<img alt="X Logo" data-lfr-editable-id="image-editable-product-twitter" data-lfr-editable-type="image" src="[resources:twitter.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/liferayinc" target="_blank">
								<img alt="Youtube Logo" data-lfr-editable-id="image-editable-product-youtube" data-lfr-editable-type="image" src="[resources:youtube.svg]" />
							</a>
						</li>
					</ul>
				</section>
			</div>
		</div>

		<div class="c-pt-3 d-flex flex-column-reverse flex-md-row flex-wrap footer-copyright justify-content-between max-nav">
			<p class="c-mb-0">
				© ${.now?string.yyyy} Liferay Inc. All Rights Reserved •

				<a class="c-mb-0" href="https://www.liferay.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
			</p>

			<p class="c-mb-0">Powered by <a class="c-mb-0 liferay-link" href="https://www.liferay.com" target="_blank">Liferay</a></p>
		</div>
	</div>
</footer>