.creation-menu {
	.nav-btn {
		.dropdown-icon {
			font-size: 1rem;
		}
	}
}

.creation-menu-dropdown {
	max-width: none;
}

.creation-menu-item-deprecated {
	align-items: center;
	display: inline-flex;
	gap: 8px;
}
