.custom-select.disabled {
	background-color: #f7f7f8 !important;
	color: #282934;
	opacity: 0.7;
}

.selection {
	&-first-option {
		color: #c9c9cf !important;
	}
}

.select-empty-value {
	color: #6b6c7e;
}
