<div class="marketplace-catalog-hero-banner">
	<img alt="" class="marketplace-catalog-hero-banner-image" src="[resources:hero_banner_product_catalog.png]" />

	<div class="container">
		<div class="marketplace-catalog-hero-banner-content">
			<nav aria-label="Breadcrumb" class="marketplace-catalog-hero-banner-breadcrumb">
				<a href="/web/one/home">Home</a>

				[@clay["icon"] symbol="angle-right-small" /]

				<a href="/web/one/marketplace">Marketplace</a>

				[@clay["icon"] symbol="angle-right-small" /]

				<span class="marketplace-catalog-hero-banner-breadcrumb-current">Products Catalog</span>
			</nav>

			<div class="marketplace-catalog-hero-banner-text">
			<h1 class="marketplace-catalog-hero-banner-title" data-lfr-editable-id="title" data-lfr-editable-type="text">
					Products Catalog
				</h1>

			<p class="marketplace-catalog-hero-banner-subtitle" data-lfr-editable-id="subtitle" data-lfr-editable-type="text">
					Expand Liferay's portfolio through apps from our partner and developer ecosystems to enhance your
					digital transformation
				</p>
			</div>
		</div>
	</div>
</div>