.marketplace-catalog-hero-banner {
	background-color: #fff;
	min-height: 272px;
	overflow: hidden;
	padding: 40px 28px;
	position: relative;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-image {
	height: 100%;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	z-index: 0;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-content {
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 740px;
	position: relative;
	z-index: 1;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-breadcrumb {
	align-items: center;
	color: #6c6c75;
	display: flex;
	font-size: 13px;
	gap: 4px;
	line-height: 16px;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-breadcrumb a {
	color: #6c6c75;
	text-decoration: none;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-breadcrumb a:hover {
	text-decoration: underline;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-breadcrumb-current {
	font-weight: 600;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-title {
	color: #282934;
	font-size: 49px;
	font-weight: 700;
	line-height: 56px;
	margin: 0;
}

.marketplace-catalog-hero-banner .marketplace-catalog-hero-banner-subtitle {
	color: #54555f;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
}
