.DS_Store
/.idea
/bundles
/client-extensions/liferay-one-etc-spring-boot/liferay-release-tool-ee
/poshi/poshi-ext.properties
/poshi/test-results
/poshi/tests
@vite/
bin
build
dist
node_modules
node_modules_cache