@import 'atlas-custom-properties/_variables';

@mixin nodeAnimation($translateYPx) {
	transform: translateY($translateYPx);
	transition:
		border-color 0.3s ease,
		box-shadow 0.3s ease,
		transform 0.3s ease;
}

.lfr-objects__model-builder-node {
	&-container {
		background: $white;
		border-color: $light-d2;
		border-radius: 0.25rem;
		border-style: solid;
		border-width: 0.125rem;
		height: auto;
		position: relative;
		@include nodeAnimation(4px);

		&:active {
			border-color: $primary;
			border-width: 0.125rem;
			cursor: grabbing;
		}

		&:hover {
			border-color: $primary-l2;
			border-width: 0.125rem;
			box-shadow:
				unquote('hsl(from #{$dark-d2} h s l / 0.1)') 0 4px 16px,
				unquote('hsl(from #{$dark-d2} h s l / 0.05)') 0 8px 32px;

			@include nodeAnimation(-4px);
		}

		&--link {
			border-style: dashed;
		}

		&--selected {
			border-color: $primary !important;
			border-width: 0.125rem !important;
			box-shadow:
				unquote('hsl(from #{$dark-d2} h s l / 0.1)') 0 4px 16px,
				unquote('hsl(from #{$dark-d2} h s l / 0.05)') 0 8px 32px;
			@include nodeAnimation(4px);
		}

		&--treeItem {
			padding-left: 1rem;

			&::before {
				background-color: $info;
				border-bottom-left-radius: 0.15rem;
				border-top-left-radius: 0.15rem;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				top: 0;
				width: 1rem;
			}
		}
	}
}

.lfr-objects__model-builder-node-dropdown.dropdown-menu {
	max-width: 14.5rem;
}
