@import 'atlas-custom-properties/_variables';

hr {
	margin: 6px;
}

.lfr-objects__model-builder-node-header {
	&-container {
		background: $gray-100;
		border-radius: 0.25rem 0.25rem 0 0;
		height: 5.3rem;
		min-width: 17.5rem;
		padding: 1rem;
	}

	&-label-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&-label-title {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.3rem;
		overflow: hidden;
		padding-right: 4rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 10rem;

		&--danger {
			color: $danger;
		}
	}
}
