@import 'atlas-custom-properties/_variables';

.lfr-objects__model-builder-node-field {
	align-items: center;
	border-top: 1px solid $gray-200;
	color: $gray-600;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	transition: 0.3s;

	&-business-type {
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&:hover {
		background: $primary-l3;
		color: $primary !important;
	}

	&-label {
		display: block;
		font-size: 14px;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 8.8rem;
	}

	&--selected {
		background: $primary-l3;
		color: $primary !important;
	}
}
