html#{$cadmin-selector} {
	.cadmin {
		.page-editor__toolbar {
			background-color: $cadmin-white;
			border-bottom: unquote(
				'1px solid hsl(from #{$cadmin-secondary-l2} h s l / 0.5)'
			);
			color: $cadmin-secondary;
			display: flex;
			margin-bottom: 0;
			width: 100%;

			&--master-layout {
				background-color: $cadmin-primary-l3;
				border-bottom: 1px solid $cadmin-primary-l1;
			}

			.btn-secondary:active,
			.btn-secondary[aria-pressed='true'],
			.btn-secondary[aria-pressed='true']:hover {
				background-color: $cadmin-gray-200;
				border-color: $cadmin-gray-400;
			}

			& > .container-fluid {
				flex-direction: row;
				padding: 0;
				white-space: nowrap;

				@include media-breakpoint-down(sm) {
					justify-content: flex-start;
				}

				> .navbar-nav {
					display: flex;
					flex-wrap: nowrap;
					max-width: 100%;
					padding: 12px;

					@include media-breakpoint-down(xs) {
						padding-left: $pageEditorSpacing;
						padding-right: $pageEditorSpacing;
					}

					&.start {
						align-self: flex-start;
						padding-right: 0;

						> .nav-item {
							margin-right: $pageEditorSpacing;
						}
					}

					&.middle {
						justify-content: flex-start;
						padding: 0;

						> .nav-item {
							margin-right: $pageEditorSpacing;

							@include media-breakpoint-down(xs) {
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}

					&.end {
						@include media-breakpoint-down(sm) {
							box-shadow: unquote(
								'inset 0 1px 0 0 hsl(from #{$cadmin-secondary-l2} h s l / 0.5)'
							);
							flex-basis: 100%;
						}

						justify-content: flex-end;

						> .nav-item {
							margin-left: $pageEditorSpacing;
						}
					}

					> .nav-item > .navbar-nav > .nav-item + .nav-item {
						margin-left: $pageEditorSpacing;
					}
				}

				@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
					> .navbar-nav {
						&.start > .nav-item {
							margin-right: $pageEditorSpacing * 2;
						}

						&.middle > .nav-item {
							margin-right: 0;
						}

						&.end > .nav-item:not(:first-child) {
							margin-left: $pageEditorSpacing * 2;
						}
					}
				}
			}
		}
	}
}

html#{$cadmin-selector}
	.page-editor__small-resolution
	.cadmin
	.page-editor__toolbar {
	padding-left: 40px;
}

html#{$cadmin-selector}
	body.open
	.cadmin
	.page-editor__toolbar
	> .container-fluid {
	@media (min-width: 1400px) {
		> .navbar-nav {
			padding: 16px 12px;

			&.middle {
				flex: 1;
				justify-content: center;
				padding-left: $pageEditorSpacing * 1.5;
			}

			&.end {
				box-shadow: none;
				flex-basis: auto;
			}
		}
	}
}

html#{$cadmin-selector}
	body:not(.open)
	.cadmin
	.page-editor__toolbar
	> .container-fluid {
	@include media-breakpoint-up(xl, $cadmin-grid-breakpoints) {
		> .navbar-nav {
			padding: 16px 12px;

			&.middle {
				flex: 1;
				justify-content: center;
				padding-left: $pageEditorSpacing * 1.5;
			}

			&.end {
				box-shadow: none;
				flex-basis: auto;
			}
		}
	}
}
