.label-tonal-danger {
	background-color: #fbe8e8;
	border-color: transparent;
	color: #da1414;
	font-weight: 600;
	height: 35px;
	padding: 4px;
	text-transform: none;

	.text-paragraph {
		font-size: 16px;
	}
}

.input__base-text {
	color: #6c6c75;
	font-size: 12px;
}

.form-group {
	.required {
		&::after {
			color: #da1414;
			content: '*';
		}
	}
}
