@use '../index.scss';

.liferay-ai-hub-form {
	&-aggreements-text {
		font-size: 11px;
		text-align: justify;
	}

	&-aggreements-check-box,
	&-label-check-box,
	&-purpose-helper-text {
		font-size: 11px;
	}

	&-fail {
		border: solid 1px red !important;
	}

	&-select-input {
		height: 40px;
	}

	.loading-animation {
		margin: 0px !important;
	}

	&-container {
		max-width: 610px;
	}

	&-next-step-page-icon {
		height: 40px !important;
		margin: 20px !important;
		width: 40px !important;
	}
}
