@import 'atlas-variables';

.room-statistics-container {
	min-height: 102px;

	.dsr-analytics-empty-message {
		min-height: 102px;
	}

	.icon-blue-light {
		fill: $blue-l2;
	}

	.icon-indigo-light {
		fill: $indigo-l1;
	}

	.icon-pink-light {
		fill: $pink-l2;
	}

	.icon-purple-light {
		fill: $purple-l2;
	}

	.icon-teal-light {
		fill: $teal-l2;
	}

	.room-statistics-label {
		font-size: 14px;
	}

	.room-statistics-text {
		font-size: 20px;
	}
}
