@import 'atlas-custom-properties/_variables';

.side-navigation-container {
	--skeleton-shimmer-color: 247, 248, 249;

	input:not(:focus-within) {
		background-image: clay-icon(search, #6b6c7e);
		background-position: 15px;
		background-repeat: no-repeat;
		background-size: 16px;
		padding-left: 40px;

		@media (prefers-color-scheme: dark) {
			background-image: clay-icon(search, #a2a2b9);
		}
	}

	.c-slideout-start .sidebar-light {
		background-color: $light-l1;
		border-right: 0.5px solid $secondary-l0;
		box-shadow: none;

		&.skeleton {
			overflow: hidden;
			position: relative;

			&::after {
				animation: shimmer 1.6s infinite;
				background: linear-gradient(
					90deg,
					rgba(var(--skeleton-shimmer-color), 0) 0%,
					rgba(var(--skeleton-shimmer-color), 0.6) 50%,
					rgba(var(--skeleton-shimmer-color), 0) 100%
				);
				content: '';
				inset: 0;
				position: absolute;
				transform: translateX(-100%);
			}
		}
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
