@import 'atlas-variables';

.ai-assistant-chat__dropdown-container {
	height: 100%;
	width: 100%;

	.ai-assistant-chat__dropdown-title {
		color: #272833;
	}

	.ai-assistant-chat__dropdown-close-button {
		color: #6b6c7e;
		height: 12;
		width: 12;
	}

	.ai-assistant-chat__footer-disclaimer {
		align-items: center;
		display: flex;
		flex-direction: row;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.5rem;

		&-text {
			color: $secondary;
			font-size: 0.75rem;
			line-height: 1.4;
		}
	}

	.ai-assistant-chat__messages-container {
		min-height: 0;
	}

	.ai-assistant-chat__quick-actions-button {
		background: #f7f8f9;
		padding-bottom: 3px;
		padding-top: 3px;
	}

	.ai-assistant-chat__input {
		height: auto;
		max-height: calc(1.25em * 4);
		overflow-x: hidden;
		overflow-y: auto;
		resize: none;
	}

	.ai-assistant-chat__quick-actions-button:hover {
		background: #27283314;
	}

	.ai-assistant-chat__generating-loading-text {
		align-self: center;
		color: #0b5fff;
	}
	.ai-assistant-chat__ai-assistant-error-message-balloon {
		background: #feefef;
	}
	.ai-assistant-chat__ai-assistant-message-balloon {
		background: #f7f8f9;
	}

	.ai-assistant-chat__user-image {
		align-items: center;
		border-radius: 50%;
		height: 30px;
		width: 30px;
	}

	.ai-assistant-chat__user-initials {
		align-items: center;
		background-color: $primary;
		border-radius: 50%;
		color: #fff;
		display: flex;
		font-size: 12px;
		font-weight: 800;
		height: 30px;
		justify-content: center;
		width: 30px;
	}

	.ai-assistant-chat__user-message {
		max-width: 70%;
	}
}
