@import 'atlas-custom-properties/_variables';

.lfr-objects__model-builder-many-edge-dropdown-item {
	&-button {
		align-items: center;
		display: flex;
		gap: 1rem;

		.dropdown-item-indicator-end {
			top: unset;
		}

		.dropdown-item-indicator-start {
			position: static;
		}
	}
	&-details {
		padding-left: 2rem;
	}
}

.react-flow__edge {
	&-button {
		border-color: transparent;
		padding-bottom: 1px;
		padding-top: 1px;
		white-space: nowrap;
	}
	&.selected {
		marker {
			fill: $primary !important;
		}
	}

	&.react-flow__edge-treeStructureObjectRelationshipEdge {
		&.selected {
			marker {
				fill: $info !important;
			}
		}

		marker {
			fill: $info-l1;
		}
	}

	.react-flow__connection {
		cursor: pointer;
	}

	marker {
		fill: $primary-l1;
	}
}
