@import 'atlas-custom-properties/_variables';

.lfr-objects__model-builder-empty-object-folder-card {
	&-body {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: 1rem !important;
	}

	&-container {
		border: 2px solid $light-d2;
		box-shadow: unquote('hsl(from #{$gray-600} h s l / 0.2)') 0 7px 29px 0;
		left: calc(50% - (17.5rem / 2));
		max-height: 10.125rem;
		max-width: 17.5rem;
		position: absolute;
		top: calc(50% - (10.125rem / 2));
		z-index: 5;
	}

	&-description {
		color: $gray-600;
		font-size: 14px;
		text-align: center;
	}

	&-title {
		margin-bottom: 1rem;
	}
}
