@import 'cadmin-variables';

.detached-cms-files-alert > .container {
	margin-left: 0;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

.item-selector-modal-breadcrumb-wrapper {
	border-bottom: 1px solid $cadmin-border-color;
}

.cms-item-selector-folder-row .cell-select-item .custom-control,
.cms-item-selector-folder-row .cell-select-item .form-check {
	display: none;
}
