.info-card-popover-root {
	background-color: $white;
	border-radius: 2px;
	box-shadow: unquote('0px 1px 5px -1px hsl(from #{$black} h s l / 0.3)');
	padding: 16px;
	width: 268px;

	.filter-name {
		line-height: 32px;
	}
}

.base-dropdown-menu-root {
	max-height: none;
	min-width: 268px;
	overflow: visible;

	.base-dropdown-list {
		max-height: 500px;
		overflow-y: auto;

		.sticker {
			background-color: $lightBackground;
			margin: 4px 16px 4px 4px;
		}
	}

	.card-tabs-root {
		margin: 0 20px 8px;
	}

	.dropdown-item {
		&.active,
		&:active,
		&:hover,
		&:focus {
			.options-button:not([disabled]) {
				opacity: 1;
				visibility: visible;

				&:active,
				&:focus,
				&:hover {
					background-color: unquote(
						'hsl(from #{$black} h s l / 0.04)'
					);
					border: 1px solid $primaryLighten33;
				}
			}
		}

		&:not(.active) {
			.dropdown-item-primary-button {
				color: $mainLighten28;
			}
		}

		.dropdown-item-primary-button {
			line-height: 32px;
			min-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.options-button {
			background-color: transparent;
			opacity: 0;
			transition: opacity 100ms ease;
			visibility: hidden;
		}
	}

	.event-analysis-dropdown-header-title {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightSemiBold;
		padding: 8px 20px;
	}
}

.event-analysis-editor-attribute-dropdown-root {
	.attribute-options {
		padding: 8px 16px;

		.options-body {
			.form-control {
				font-size: $fontSizeExtraSmall;
				height: 32px;
			}

			.form-control-label {
				color: $secondary;
				font-weight: $fontWeightRegular;
			}

			.form-group {
				margin-bottom: 12px;

				.date-range-input-root {
					min-width: 180px;
				}
			}
		}

		.options-header {
			border-bottom: 1px solid $mainLighten74;
			margin-bottom: 12px;

			.back-to-attributes-button {
				color: $secondary;
				font-size: $fontSizeExtraSmall;
				font-weight: $fontWeightSemiBold;
				text-transform: uppercase;
			}

			.filter-info-root {
				padding: 20px 0 12px;
			}
		}
	}
}

.event-analysis-editor-root {
	color: $secondary;

	.compare-to-previous-checkbox {
		.custom-control-label-text {
			color: $secondary;
		}
	}

	.event-analysis-builder-root {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-radius: 4px;
		margin: 16px;

		.event-section-root {
			padding: 0 20px 0 24px;

			.add-event-button {
				margin: 8px;
				padding: 8px;
			}

			.event-container {
				width: 90%;

				.event-list {
					margin: 0 16px;
					padding: 4px 0;

					.event-chip-root {
						line-height: 24px;
						max-height: 42px;
						padding: 8px 0 8px 8px;

						.event-name {
							color: $secondary;
							font-weight: $fontWeightSemiBold;
							white-space: nowrap;
						}
					}
				}
			}
		}

		.attribute-breakdown-section-root {
			background-color: $secondaryHover;

			.add-attribute {
				background-color: $secondaryHover;

				&:active,
				&:hover,
				&:focus {
					background-color: $lightBackground;
				}
			}
		}

		.attribute-breakdown-section-root,
		.attribute-filter-section-root {
			overflow-x: hidden;
			padding: 0 20px 0 24px;

			.add-attribute {
				color: $mainLighten28;
				margin: 8px;
				padding: 8px;
			}

			.attribute-container {
				width: 90%;

				.attribute-list {
					margin: 0 4px;
					overflow-x: auto;
					padding: 4px;

					.attribute-chip-container {
						padding-left: 8px;
						padding-right: 8px;

						&.hover-left {
							box-shadow: inset 1px 0 $primary, -1px 0 $primary;
						}

						&.hover-right {
							box-shadow: inset -1px 0 0 0 $primary,
								1px 0 $primary;
						}

						.attribute-chip-root {
							&.dragging:hover {
								.edit-attribute-button,
								.remove-button {
									color: $mainLighten52;
								}
							}

							.attribute-label {
								font-size: 10px;
								text-transform: uppercase;
								white-space: nowrap;
							}

							.attribute-value {
								font-size: $fontSizeSmall;
								font-weight: $fontWeightSemiBold;
								white-space: nowrap;
							}

							.drag-handle {
								color: $mainLighten65;
								cursor: grab;
							}

							.edit-attribute-button {
								color: $secondary;
							}

							.sticker {
								background-color: $lightBackground;
								margin: 4px 16px 4px 4px;
							}
						}
					}
				}
			}
		}

		.section-header {
			color: $secondary;
			font-weight: $fontWeightSemiBold;
			margin: 16px 0 16px 8px;
			width: 10%;
		}
	}

	.options-container {
		margin: 0 16px 24px;
	}
}

.filter-info-root {
	.description {
		color: $secondary;
		padding-bottom: 8px;
		word-break: break-word;
	}

	.filter-name {
		font-weight: $fontWeightSemiBold;
		word-break: break-word;
	}
}
