.segment-edit-root {
	.preview-results {
		font-weight: 600;
	}

	.select-entities-root .entity-list-root {
		min-height: 350px;
	}

	.select-items-header {
		flex-shrink: 0;
		margin-bottom: 30px;

		> h3 {
			display: inline;
			margin-right: 24px;
		}
	}

	.sheet-header {
		margin-bottom: 1rem;
	}

	.form-content {
		margin-bottom: 24px;
		position: relative;

		> .row {
			height: inherit;
		}

		.form-actions .cancel {
			margin-right: 8px;
		}

		&.form-content-static {
			.form-actions {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	@media screen and (min-width: $minPageWidth) {
		.form-content-dynamic .form-inputs-container {
			border-right: 1px solid $mainLighten65;
		}
	}

	.form-inputs-container {
		display: flex;
		flex-direction: column;
	}

	.name-container {
		flex-shrink: 0;
	}

	.segment-form-title {
		margin-bottom: 0;
		text-transform: capitalize;
	}

	.segment-type-radio label {
		margin-bottom: 10px;
	}
}
