.model-armor-template-form {
	padding: 24px 0;

	&-details,
	&-detections,
	&-rai {
		border: 1px solid #e7e8eb;
		border-radius: 1rem;
		margin-bottom: 1.5rem;
	}

	&-detections &-detection-description {
		color: #6b6c7e;
		font-size: 0.875rem;
		margin: 0.25rem 0 0;
		padding-left: 1.5rem;
	}

	&-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	&-help-icon {
		color: #6b6c7e;
		margin-left: 0.25rem;
		vertical-align: middle;
	}

	&-option {
		display: flex;
		flex-direction: column;
		padding: 0.25rem 0;

		&-description {
			color: #6b6c7e;
			font-size: 0.75rem;
			margin: 0;
		}

		&-label {
			font-weight: 500;
		}
	}

	&-picker {
		background-color: #e7e7ed;
		border-color: #e7e7ed;
	}

	&-rai-row {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		label {
			margin-bottom: 0.25rem;
		}

		.model-armor-template-form-picker {
			width: 100%;
		}
	}

	textarea.form-control {
		height: auto;
	}
}
