@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin {
	.layout__length-input {
		&__button.btn {
			background-color: transparent;
			font-size: 12px;
			height: 28px;
			margin: 2px;
			padding: 4px;
			width: 28px;
			z-index: 1;

			&:focus,
			&:hover {
				background-color: unquote(
					'hsl(from #{$cadmin-dark} h s l / 0.06)'
				);
			}
		}

		.form-control {
			padding-right: 4px;

			&:not(:focus-visible) {
				border-color: transparent;
			}
		}

		.input-group {
			background-color: $cadmin-light;
			border: 1px solid $cadmin-secondary-l3;

			&:not(:focus-within) .input-group-inset-item-before {
				border-color: transparent;
			}

			&:hover {
				border-color: $cadmin-secondary-l0;
			}
		}
	}
}
