@import 'atlas-custom-properties/variables';

// Colors

$border-color: $gray-300;

$danger-primary: $danger;
$danger-secondary: $danger-l1;

$error-l1: $danger-l1;

$info-bc: $info-l2;
$info-primary: $info;
$info-secondary: $info-l1;

$primary-color: $primary;

$secondary-text: $gray-600;

$step-tracker-active: $gray-600;
$step-tracker-completed: #6fcf97;
$step-tracker-inactive: $gray-400;

$success-primary: $success;
$success-secondary: $success-l1;

$warning-primary: $warning-d2;
$warning-secondary: $warning-l1;

// Drop

$drop-target-zIndex: 99999;

// Spacers

$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);
