.agent-definition-form {
	padding: 24px 0;

	&-data-sources,
	&-details,
	&-guardrails,
	&-variables,
	&-workflow {
		border: 1px solid #e7e8eb;
		border-radius: 1rem;
		margin-bottom: 1.5rem;
	}

	&-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	&-picker {
		background-color: #e7e7ed;
		border-color: #e7e7ed;
	}
}
