@import 'atlas-custom-properties/_variables';

.lfr-objects__model-builder-header {
	background-color: $white;
	border-bottom: 1px solid $gray-200;
	display: flex;
	justify-content: center;
	padding: 1rem 0;

	&-buttons-container {
		align-items: center;
		display: flex;
		gap: 1rem;
	}

	&-changes-saved {
		align-items: center;
		color: $success;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		gap: 0.5rem;
	}

	&-container {
		display: flex;
		justify-content: space-between;
		max-width: 78rem;
		padding: 0 1.3rem;
		width: 100%;
	}

	&-object-folder-info {
		align-items: center;
		display: flex;
		gap: 0.5rem;

		&-erc-content {
			max-width: 28rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&-changes-saved {
				max-width: 10rem;
			}
		}

		&-erc-title {
			color: $gray-600;
		}

		&-label {
			border-right: solid 1px $gray-400;
			color: $gray-900;
			font-size: 18px;
			font-weight: 600;
			line-height: 150%;
			max-width: 12.5rem;
			overflow: hidden;
			padding-right: 0.5rem;
			text-overflow: ellipsis;
			white-space: nowrap;

			&-changes-saved {
				max-width: 10rem;
			}
		}
	}
}
