@import 'atlas-custom-properties/_variables';

$bgColor: $gray-100;

.layout-tab {
	&__add-tab-btn {
		background-color: $bgColor;
		border: 2px dashed $gray-500;
		border-radius: 4px;
		display: grid;
		margin-bottom: 1.5rem;
		padding: 1.5em;
		place-items: center;
	}

	&__rows {
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}

	&__field {
		border: 1px solid $gray-300;
	}

	&__tab {
		background-color: $bgColor;
	}

	&__tab-types {
		border: 1px solid $gray-400;
		border-radius: 4px;
		color: $gray-600;
		cursor: pointer;
		margin-bottom: 1rem;
		padding: 1rem;

		&__title {
			margin: 0;
		}

		&.active {
			border: 2px solid $primary;
			color: initial;
		}

		&.disabled {
			cursor: default;
			opacity: 0.5;
		}
	}
}

.dropdown-menu {
	width: fit-content;
}

.box-btn-columns {
	display: flex;

	&__btn {
		background-color: $white;
		border: 1px solid $light-d1;
		border-radius: 4px;
		display: flex;
		flex-direction: row;
		height: 80px;
		margin-right: 1rem;
		padding: 4px;
		width: 80px;

		&:hover {
			border-color: $gray-400;

			.box-btn-columns__item {
				background-color: $gray-400;
			}
		}

		&.active,
		&.active:hover {
			background-color: $primary-l3;
			border-color: $primary;

			.box-btn-columns__item {
				background-color: $primary-l1;
			}
		}
	}

	&__item {
		background-color: $light-d1;
		border-radius: 4px;
		height: calc(100% - 8px);
		margin: 4px;
		width: 100%;
	}
}
