.publisher-profile-header .publisher-profile-header-avatar {
	border-radius: 50%;
	height: 72px;
	overflow: hidden;
	width: 72px;
}

.publisher-profile-header .publisher-profile-header-image {
	object-fit: contain;
}

.publisher-profile-header .publisher-profile-header-name {
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

.publisher-profile-header .publisher-profile-header-stats {
	color: #54555f;
	font-size: 13px;
	line-height: 16px;
}

.publisher-profile-header .stars {
	color: var(--color-accent-6);
}
