.ai-hub-control-menu {
	border-bottom-width: 0.05rem;
	border-color: var(--secondary-l0);
}

.ai-hub-control-menu h1.tbar-section {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

@media (max-width: 767.98px) {
	.ai-hub-control-menu .tbar-item {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
}

@media (max-resolution: 1dppx) {
	.ai-hub-control-menu {
		border-color: var(--secondary-l2);
	}
}

.workflow-definition-nav{
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.workflow-definition-back {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 2rem;
	justify-content: center;
	width: 1rem;
}

.workflow-definition-back:hover{
	background: #00000009;
}

.workflow-definition-back svg{
	fill: #6b6c7e;
}

.workflow-definition-tbar-nav {
	align-items: center;
	display: flex;
}

.autofit-row.portlet-header {
	display: none;
}

.ai-hub-title {
	font-family:
		'Source Sans 3',
		system-ui,
		-apple-system,
		'system-ui',
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		Arial,
		sans-serif;
	font-size: 24px;
	font-weight: 600;
}