<p>
	<img alt="[$COMPANY_NAME$]" src="[$LOGO_URL$]" style="max-height: 40px;" />
</p>

<p>
	<b>[$FROM_NAME$] has shared a [$ASSET_TYPE$] with you</b>
</p>

<p>
	Click the link below to view the [$ASSET_TYPE$]:<br />

	<a href="[$ACCEPT_COLLABORATION_URL$]">[$ACCEPT_COLLABORATION_URL$]</a>
</p>

<p>
	You'll need to login or create an account to access the [$ASSET_TYPE$]
</p>

<p>
	Sincerely,<br />
	[$FROM_NAME$]<br />
	[$FROM_ADDRESS$]
</p>