.ai-hub-control-menu {
	border-bottom-width: 0.05rem;
	border-color: var(--secondary-l0);
}

.ai-hub-control-menu h1.tbar-section {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

@media (max-width: 767.98px) {
	.ai-hub-control-menu .tbar-item {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
}

@media (max-resolution: 1dppx) {
	.ai-hub-control-menu {
		border-color: var(--secondary-l2);
	}
}

.ai-hub-lexicon-icon {
  	color: #4b9bff;
}

.ai-hub-title {
	font-family:
		'Source Sans 3',
		system-ui,
		-apple-system,
		'system-ui',
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		Arial,
		sans-serif;
	font-size: 24px;
	font-weight: 600;
}