@import 'cadmin-variables';

@import 'variables';

html#{$cadmin-selector} {
	#wrapper .cadmin.control-menu-container {
		padding-left: 0;
	}

	body.sidenav-transition {
		#wrapper,
		.cadmin.control-menu-container {
			@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
				@media (prefers-reduced-motion: no-preference) {
					transition: $cadmin-sidenav-transition;
				}
			}
		}

		&.c-prefers-reduced-motion {
			#wrapper,
			.cadmin.control-menu-container {
				transition: none;
			}
		}
	}

	body.product-menu-open {
		#wrapper,
		.cadmin.control-menu-container {
			@include media-breakpoint-up(lg, $cadmin-grid-breakpoints) {
				padding-left: $product-menu-width;
			}
		}
	}

	nav.cadmin {
		&.lfr-product-menu-panel.sidenav-menu-slider {
			z-index: $product-menu-zindex;

			&.open,
			.sidenav-menu {
				width: $product-menu-width;
			}
		}

		.pages-tree {
			.tree-node-selected {
				font-weight: bold;
			}
		}

		.product-menu {
			background-color: $product-menu-body-bg;
			border-right: 0.05rem solid $cadmin-secondary-l0;

			@media (max-resolution: 1dppx) {
				border-right-color: $cadmin-secondary-l2;
			}

			a {
				color: $product-menu-nav-link-color;
			}

			.nav-link,
			.panel-header-link {
				padding-left: 2.25rem;
				position: relative;

				&:after {
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					transition: all 0.2s ease-in-out;
				}

				a:hover,
				&:hover {
					background-color: $cadmin-light;
					color: $product-menu-nav-link-hover-color;

					&:after {
						background-color: $cadmin-secondary;
						width: 0.2rem;
					}
				}

				&:focus-visible {
					box-shadow: none;

					&:before {
						bottom: 3px;
						box-shadow: $product-menu-focus-box-shadow;
						content: '';
						left: 3px;
						position: absolute;
						right: 3px;
						top: 3px;
					}
				}
			}

			.nav-item {
				&.active .nav-link:after {
					background-color: $cadmin-primary;
					width: 0.375rem;
				}
			}

			.company-details {
				float: left;
				width: calc(100% - 32px);

				@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
					width: 100%;
				}

				.company-logo {
					margin-right: 16px;
					max-height: 32px;
					max-width: 32px;
				}
			}

			.loading-animation {
				color: $cadmin-white;
			}

			.panel-header {
				background-color: $product-menu-body-bg;

				.lexicon-icon {
					&.collapse-icon-closed,
					&.collapse-icon-open {
						padding: 2px;
					}
				}
			}

			.page-type-selector {
				padding: 20px 16px 8px;
			}
		}

		.product-menu {
			.nav-equal-height {
				.nav > .active,
				> .active {
					font-weight: 700;
				}

				> .active > a,
				.nav > .active > a {
					&,
					&:focus,
					&:hover {
						background-color: $cadmin-light;
						color: $product-menu-nav-link-active-color;
					}
				}

				> .active,
				.nav > .active {
					border-left-color: $product-menu-nav-link-active-border-color;
				}
			}
		}

		.product-menu {
			&.sidebar-inverse {
				.sidebar-header {
					color: $cadmin-white;
					font-size: 14px;
					font-weight: bold;
					height: $product-menu-header-height;

					@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
						height: $product-menu-header-desktop-height;
					}
				}

				.sidebar-body {
					top: $product-menu-header-height;

					@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
						top: $product-menu-header-desktop-height;
					}
				}
			}

			.sidebar-header {
				background-color: $product-menu-header-bg;
				color: $product-menu-header-color;

				a {
					color: $product-menu-header-link-color;

					&:focus,
					&:hover {
						color: $product-menu-header-link-hover-color;
					}
				}
			}
		}

		.product-menu {
			a.list-group-heading,
			button.list-group-heading,
			.list-group-heading[data-toggle='collapse'] {
				border-color: transparent;
				color: $product-menu-list-group-heading-color;
				text-decoration: none;
			}

			.list-group {
				box-shadow: none;
				margin-bottom: 0;
			}

			.list-group-heading,
			.panel-title {
				> .panel-toggler {
					line-height: 32px;
					padding: 10px 44px 10px 24px;
				}

				.aspect-ratio-bg-cover {
					background-size: contain;
				}

				.site-administration-toggler {
					padding-right: 85px;
				}
			}

			a.list-group-heading,
			button.list-group-heading.navigation-link {
				font-weight: 600;
				overflow: hidden;
				padding-left: 24px;
				text-overflow: ellipsis;
				white-space: nowrap;

				@include overflow-wrap(normal);

				&:after {
					background-color: $cadmin-secondary;
				}

				&.collapsed {
					font-weight: 400;
				}

				&.navigation-link {
					box-sizing: border-box;
					font-size: 12px;
					max-width: 100%;
					padding: 6px 24px;

					&:hover {
						border-radius: 0;
						color: $product-menu-nav-link-hover-color;
					}

					&:before {
						right: 4px;
					}

					&.btn {
						width: 100%;
					}

					.lexicon-icon {
						height: 14px;
						width: 14px;
					}
				}

				&.first-layout {
					color: $product-menu-list-group-color;
					font-weight: bolder;
				}

				&.panel-header:not(.collapsed) {
					color: $product-menu-list-group-color;
				}
			}

			.list-group-item,
			.list-group .list-group-item {
				color: $product-menu-nav-link-color;
				padding: 8px 0 8px 16px;

				@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
					padding-left: 24px;
				}
			}

			.collapse,
			.collapsing {
				> .list-group-item {
					background-color: $product-menu-list-group-item-bg;
				}
			}

			.collapsing,
			.show {
				.list-group-item {
					background-color: $product-menu-list-group-bg;
					border: none;
					padding: 0;

					a:hover {
						background-color: $cadmin-light;
						color: $product-menu-list-group-color;
					}
				}
			}

			.nav > li > a {
				&:focus,
				&:hover {
					background-color: transparent;
				}
			}

			.navigation-link-container {
				margin-bottom: 8px;
				margin-top: 6px;
			}
		}

		.product-menu {
			.panel {
				background-color: transparent;
				border-left-width: 0;
				border-radius: 0;
				border-right-width: 0;
				border-top-width: 0;
				box-shadow: none;
				color: $product-menu-nav-link-color;

				&:not(:first-of-type) {
					border-top: 1px solid $product-menu-header-border;
				}
			}

			.panel-body {
				padding: 0;
			}

			.panel-group {
				margin-bottom: 0;

				.panel {
					.panel-header.collapsed {
						border-radius: 0;
					}

					+ .panel {
						margin-top: 0;
					}
				}

				.panel-heading + .panel-collapse {
					> .panel-body,
					> .list-group {
						border-top-width: 0;
					}
				}
			}

			.panel-header,
			.panel-heading {
				border-bottom-width: 1px;
				border-radius: 0;
				line-height: 1.5;
				position: relative;

				.panel-title {
					.depot-type,
					.site-name {
						color: $product-menu-panel-title-color;
						line-height: 1.25;
					}

					.depot-type {
						font-size: 12px;
						font-weight: normal;
						text-transform: uppercase;
					}

					.site-name {
						text-transform: none;
					}
				}
			}

			.panel-header {
				.collapse-icon-closed,
				.collapse-icon-open {
					font-size: inherit;
					top: 50%;
				}

				&.panel-heading {
					border-bottom-width: 0;
					padding: 12px 12px 12px 24px;
				}

				.panel-header-link,
				.panel-toggler {
					display: block;
					margin: -12px -20px;
					padding: 12px 20px;
					text-decoration: none;

					&:focus {
						box-shadow: none;

						&::before {
							bottom: 8px;
							left: 8px;
							right: 8px;
							top: 8px;
						}
					}
				}
			}

			.panel-header-link:focus {
				box-shadow: none;
			}
		}

		.product-menu {
			.user-icon,
			.sticker {
				display: inline-block;
				margin-right: 16px;
				vertical-align: middle;
			}

			.icon-sites {
				a {
					color: $product-menu-panel-title-color;
					display: block;
					font-size: 16px;
					height: 32px;
					line-height: 32px;
					text-align: center;
					width: 32px;

					> .c-inner {
						margin: 0;
					}
				}

				&.collapsible-icon {
					position: absolute;
					right: 46px;
					top: 11px;
				}

				z-index: 1;
			}

			.icon-pages-tree {
				a {
					color: $product-menu-panel-title-color;
				}

				&.collapsible-icon {
					position: absolute;
					right: 76px;
					top: 9px;
				}

				z-index: 1;
			}
		}

		.product-menu .scope-selector span {
			color: $product-menu-nav-link-active-color;
		}

		.product-menu {
			.staging-links {
				a,
				.links-separator {
					color: $product-menu-nav-link-color;
				}

				.active {
					color: $product-menu-nav-link-active-color;
					font-weight: 600;
				}

				.links-separator {
					padding: 0 5px;
				}
			}
		}

		.product-menu {
			.text-muted {
				opacity: 0.3;
			}
		}
	}

	.product-menu-expanded {
		&.sidebar-body {
			overflow: visible;
		}

		&.sidenav-fixed.sidenav-menu-slider {
			overflow: auto;
			visibility: visible;
			width: 100%;
		}
	}
}
