.table {
	.header-row {
		.description {
			color: #6c6c75;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;

			&-title {
				color: #3f404b;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}
		}
	}

	&-body {
		.description {
			color: #6c6c75;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;

			&-title {
				color: #282934;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 24px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.kebab-button-cell {
			width: 50px !important;
		}
	}

	.cursor-pointer {
		cursor: pointer;
	}
}
