@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .page-audit {
	&__experience-selector .btn:not(.btn-unstyled) {
		padding-right: 2em;
	}

	&__fragmentList {
		border: 1px solid $cadmin-gray-300;
		border-radius: 4px;

		.page-audit__fragment {
			&:not(:last-child) {
				border-bottom: 1px solid $cadmin-gray-300;
			}

			&:focus-within,
			&:hover {
				background-color: $cadmin-primary-l3;

				.page-audit__fragment__buttons {
					opacity: 1;
				}
			}

			.select-fragment-button {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			&__buttons {
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			.warning-badge {
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
		}
	}
}

.page-audit__fragment {
	&__popover {
		min-width: 500px;
		position: absolute;
	}

	&--highlight {
		position: relative;

		&:after {
			background-color: unquote(
				'hsl(from #{$cadmin-primary-l1} h s l / 0.5)'
			);
			border: 2px solid $cadmin-primary-l1;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
